@use 'reset';
@use 'vars';

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: vars.$light-grey;
}

.app {
  width: 650px;
  height: 95vh;
  margin: 1em auto;
  text-align: center;
  background-color: vars.$dark-blue;
  padding: 2em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &__header {
    margin: 1em;
    display: flex;
    justify-content: space-around;
  }
}
